<div class="theatrelogin">

<h1 style="margin-left:30px">{{theatreone.[0].Theatre_Name}}</h1>

<div class="logindetails">
<form Name="logout" id="logout" action="/login/logout" method="POST">
<button  type="submit">logout</button>
</form>
email: {{theatreone.[0].Theatre_email}}<br>
Contact: {{theatreone.[0].Contact_No}}<br>
<div class="address">
Division : {{theatreloc.[0].Division}}<br>
Village/Corporation Name : {{theatreloc.[0].Local_Body}}<br>
District : {{theatreloc.[0].District}}<br>
<button>Add Location</button>
</div>
</div>
<div align="center" id="insertscreen">
    <br>
    <form name="insertscreenform1" id="insertscreenform1" method="post">
    <input type="text" Name="costgolden" placeholder="Enter cost of golden class"><br>
    <input type="text" Name="costsilver" placeholder="Enter cost of silverclass(if exists)"><br>
    <button onclick="unshowinsert1()">submit</button>
    </form>
</div>
<div id="showscreens">
  <table border="2" bordercolor="white" cellpadding="0" cellspacing="0" height="400" width="800">
    <tr>
      <th colspan="4">
      Screen Details
      </th> 
      <th>
      <button onclick="showinsert1({{theatreone.[0].Theatre_id}})">Add new Screen</button>
      </th>
    </tr>
    <tr>
      <th>
      Screen No 
      </th>
    <th>
      Screen Name
    </th>
    <th>
      Class Name
    </th>
    <th>
      Cost
    </th>
    <th>
    </th>
    <th>
    </th>
    </tr>
    {{#each theatreclass}}
    <tr align="center" border="2">
      <td>{{this.Screen_id}}</td>
      <td>{{this.Screen_Name}}</td>
      <td>{{this.Class_Name}}</td>
      <td>{{this.Cost}}</td>
      <td><button onclick="showconfirm2({{this.Theatre_id}},{{this.Screen_id}},'{{this.Class_Name}}')">Delete</button></td>
      <td><button>Update cost</button></td>

    </tr>
    {{/each}}

  </table>
    <div class="deleteconfirm4" id="deleteconfirm4">
      confirm to delete
      <form name="confirm4" id="confirm4" method="POST">
      <input type="submit" value="confirm" id="confirmsubmit4" onclick="unshow4()">
      </form>
  </div>
</div>
<div align="center" id="insertshows">
  <form name="insertshowsform1" id="insertshowsform1" method="POST" action="/login/insert/shows">
  Screen Name:<select Name="showscreen" size="1">
    {{#each theatrescreens}}
    <option Value={{this.Screen_Name}}> {{this.Screen_Name}}
    {{/each}}
  </select><br><br>
 Movie: <select Name="selectmovie" size="1">
    {{#each values4}}
    <option value={{this.Movie_Name}}>{{this.Movie_Name}}</option>
    {{/each}}
  </select><br><br>
 Show Time: <select Name="selecttime">
    {{#each time}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}<br><br>   
  </select><br><br>
  <button onclick="unshowinsert2()">submit</button>
  </form>
</div>

<div class="showdetails">
  <script Language="JavaScript" src="/javascripts/loginscript.js"></script>
  <table border="2" bordercolor="white" cellpadding="0" cellspacing="0" height="400" width="600">
  <tr>
    <th colspan="3">Show details as on {{s}}</th>
    <th><button onclick="showinsert2({{theatreone.[0].Theatre_id}})">Insert</button></th>

  </tr>
  <tr>
  <th>
    Screen Name
  </th>
  <th>
    Show time
  </th>
  <th>
    Movie
  </th>
  <th>

  </th>
  </tr>
  {{#each theatres}}
  <tr align="center" border="2">
  <td>
    {{this.Screen_Name}}
  </td>
  <td>
    {{this.Time}} {{this.Indication}}
  </td>
 <td>
   <a class="linkframe" href="/movieframe/{{this.Movie_id}}">
   <font Size="3">
        {{this.Movie_Name}}
   </font>
   </a>
 </td>
 <td>
     <button id="{{this.Theatre_id}}.{{this.Screen_id}}.{{this.Time}}" onclick="showconfirm({{this.Theatre_id}},{{this.Screen_id}},'{{this.Time}}')">
         Delete
     </button>
 </td>
 
  </tr>
  {{/each}}
  </table>
  <div class="deleteconfirm" id="deleteconfirm">
      confirm to delete
      <form name="confirm" id="confirm" method="POST">
          <input type="submit" value="confirm" id="confirmsubmit" onclick="unshow()">
      </form>
  </div>

</div>
</div>
